<p id="notice"><%= notice %></p>

<h1>Listing Todolists</h1>

<% @todolists.each do |todolist| %>
      <div id="<%= dom_id(todolist) %>">
        <h2><%= todolist.title %></h2>
        <p><%= todolist.description %></p>
        <ul>
          <li><%= link_to 'Items', todolist_items_path(todolist) %></li>
          <li><%= link_to 'Show', todolist %></li>
          <li><%= link_to 'Edit', edit_todolist_path(todolist) %></li>
          <li><%= link_to 'Destroy', todolist, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>
    <% end %>
    <div><%= link_to 'New Todolist', new_todolist_path %></div>
