<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todolist.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todolist.description %><br>
  <strong>Items :</strong>
  <% @todolist.items.each do |item| %>
   <%= item.content %>
  <% end %>
  <%= link_to "New item", new_todolist_item_path(@todolist) %>
</p>

<%= link_to 'Edit', edit_todolist_path(@todolist) %> |
<%= link_to 'Back', todolists_path %>
