<h1><%= @todolist.title %></h1>

<ul>
  <% @todolist.items.each do |item| %>
    <li id="<%= dom_id(item) %>"><%= item.id %> - <%= item.content %>
    <%= link_to "Edit", edit_todolist_item_path(item) %>
    <%= link_to "Delete", todolist_item_path(item), method: :delete, data: { confirm: "Confirmer" } %>
    <%= link_to "Mark complete", complete_todolist_item_path(item), method: :patch %></li>
  <% end %>
</ul>

<%= link_to "Ajouter", new_todolist_item_path %>
<%= link_to "Retour", todolists_path %>
